.offers-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card {
    color: var(--text-secondary-color);
    background-color:black;
    width: 312px;
    min-height: 288px;
    height: auto;
    box-sizing: border-box;
    padding: 24px 16px;
    border-radius: 16px;
    text-align: center; 
}

.card header {
    display: block;
    background-color: transparent;
    position: static;  
    padding: 0;
    margin-bottom: 24px;


}

.card header p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.card header h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
    
}

.card header span {
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;
}

/* --- GRADIENTES PARA MELHORAR A LEITURA --- */

.card.italia {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%),
    url(../img/bg-italia-mobile.jpg) no-repeat;
    background-size: cover;
}

.card.espanha {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%),
    url(../img/bg-espanha-mobile.jpg) no-repeat;
    background-size: cover;
}

.card.canada {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%),
    url(../img/bg-canada-mobile.jpg) no-repeat;
    background-size: cover;
}

.card.rio-de-janeiro {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%),
    url(../img/bg-riodejaneiro-mobile.jpg) no-repeat;
    background-size: cover;
}

.categories {
    margin-top: 80px;
}

.categories-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
    justify-content: center;
}

.categories-cards .card {
    width: 312px; 
    height: 220px;
    min-height: 220px;
    background-color: var(--background-secondary-color);
    text-align: center;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0;
    box-sizing: border-box;
    flex: none;

}

.categories-cards .card img {
    margin: 0;
    display: block;
}

.categories-cards .card h3{
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 0;
    text-align: center;
}

.categories-cards .card.single-line {
    padding-top: 50px;
}

.categories-cards .card.single-line.transfer img {
    margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
    .offers-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    }

    .card{
    width: calc(50% - 12px);        
    height: auto;          
    min-height: 288px;      
    box-sizing: border-box; 
    flex: none;
    }

    .categories-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 650px;
    margin: 32px auto 0;
    }

    .categories-cards .card {
    width: 312px;
    height: 220px;
    flex: none;
    }
}

@media screen and (min-width: 1024px) {

    .offers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    }

    .card {
    width:  586px;
    height: 308px;
    flex: none;
    }

    .card header {
    padding: 0;
    margin-bottom: 24px;
    }

    .card header h3 {
    font-size: 48px;
    }

    .card header span {
    font-size: 40px;
    }

    .categories-cards{
    flex-wrap: nowrap;
    }

    .categories-cards .card {
    width: 280px;
    height: 220px;
    padding: 0;
    box-sizing: border-box;

    }


}
    