.section-title {
    margin-top: 48px;
}

.popular-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.popular-card {
    width: 312px;
    overflow: hidden;
}

.popular-card h3 {
    font-size: 28px;
    font-weight: var(--title-weight);
    margin-top: 10px;
    margin-bottom: 8px;
}

.popular-card p {
    font-size: 16px;
    color: var(--text-primary-color);
    font-weight: var(--text-weight);
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 24px;
    max-width: 450px;
}

.popular-card-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.popular-card .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 64px;
    margin-top: 24px;
}

@media screen and (min-width: 768px) {

    .popular-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        align-items: flex-start;
    }

    .popular-section .button{
        width: 220px;
        height: 48px;
        font-size: 15px;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 8px;
    }

}

@media screen and (min-width: 1024px) {

    .popular-card {
        width: 450px;
    }

    .popular-card img{
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: center;
    }

    .popular-card .button{
        width: 220px;
        height: 48px;
        font-size: 15px;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 8px;
    }
}